{:linters
 {:unresolved-symbol            {:exclude [_]}
  :unused-binding               {:exclude-patterns ["^this"]}
  :non-arg-vec-return-type-hint {:level :off}
  :redundant-do                 {:level :off}}

 :skip-comments true
}
